{% extends "base.html" %}
{% load static %}

{% block title %}This Post Title{% endblock title %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
{% endblock css_files %}

{% block content %}
  <section id="summary">
    <h2>Post Title</h2>
    <article>
        <img src="{% static "blog/images/mountains.jpg" %}" alt="Post Title" />
        <address>By Maximilian</address>
        <div>
          Last updated on <time>July 10th</time>
        </div>
    </article>
  </section>
  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem temporibus totam voluptatibus deleniti possimus enim libero? Impedit quos ullam hic adipisci deserunt dolores omnis nesciunt nulla illum! Optio, dignissimos fugit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non illum reprehenderit harum porro magnam facilis, exercitationem eum nulla, quae voluptatum eaque neque est ex praesentium incidunt sequi cupiditate autem nesciunt?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga placeat in veniam laborum amet? Reiciendis nam debitis eaque amet corporis quisquam eveniet, adipisci, veniam, veritatis doloremque ab similique aliquam harum?
    </p>
  </main>
{% endblock content %}
